.loginModal {
  position: fixed;
  overflow: auto;
  width: 70%;
  height: 70%;
  top: 15%;
  left: 15%;
  z-index: 30005;
  background: rgba(255,255,255,.85);
  /*background: rgba(52, 173, 191, .8);*/
  border: 2px solid #34adbf;
  border-radius: 4px;
  color: #230500;

  display: flex;
  flex-direction: column;
}

/*.login,.register {
  border: 1px solid gold;
}*/

/*.loginContainer {
  border: 1px solid red;
}*/

.loginContainer {
  width: auto;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.login, .register {
  display: flex;
  flex-direction: column;
}

.login {
  padding-right: 2%;
  border-right: 2px solid #34adbf;
}

.register {
  padding-left: 1%;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.loginForm > input {
  margin: 5px;
}

#closeModal {
  text-align: left;
  color: black;
  font-size: 20px;
  margin: 1%;
  cursor: pointer;
}

.fa-window-close {
  font-size: 22px;
}

.fa-window-close:hover {
  color: #34adbf;
}

input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

/*=========================================
        MEDIA QUERIES
=========================================*/

@media(max-width: 700px) {

  .loginModal {
    flex-direction: column;
    /*overflow: scroll;*/
  }

  .loginContainer{
    max-width: 500px;
    flex-direction: column;
    height: auto;
  }

  .register {
    width: 100%;
    height: auto;
    padding: 20px 0;
    transform: scale(.9);
  }

  .login {
    width: 100%;
    height: auto;
    padding: 20px 0;
    border-right: none;
    border-bottom: 3px solid #34adbf;
    padding: 10px 0px;
    transform: scale(.9);
  }
}
