/*.showContainer {
  margin: 0 auto;
  max-width: 90%;
}*/
.center {
  margin: 0 auto;
  text-align: center;
}
.allListFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/*.listBoxBeen {
  width: 400px;
  height: 500px;
  background: #e8f7fd;
  display: inline-block;
  border-radius: 7px;
}
.listBoxWant {
  width: 400px;
  height: 500px;
  background: #F0C7AF;
  display: inline-block;
  border-radius: 7px;
}*/
.holdsWidth {
  height: 500px;
  margin: 0 5px 10px 5px;
}
.holdsWidthBeen, .holdsWidthWant {
  height: 500px;
  max-width: 400px;
  border-radius: 7px 7px 0px 0px;
}
.userListFlexBeen, .userListFlexWant {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding: 0;
  max-height: 472px;
  max-width: 400px;
  margin: 0;
  /*border-radius: 0px 0px 7px 7px;*/
}
.holdsWidthBeen {
  background: #e8f7fd;
}
.holdsWidthWant {
  background: #F0C7AF;
}
.userListFlexBeen::-webkit-scrollbar {
    display: none;
}
.userListFlexWant::-webkit-scrollbar {
    display: none;
}
.listTitleBeen {
  text-align: center;
  margin: 0;
  padding: 3px 0 3px 0;
  color: #FFFFFF;
  background: #34ADBF;
  border-bottom: 2px solid #FFFFFF;
  border-radius: 5px 5px 0 0;
}
.listTitleWant {
  text-align: center;
  margin: 0;
  padding: 3px 0 3px 0;
  color: #FFFFFF;
  background: #230500;
  border-bottom: 2px solid #FFFFFF;
  border-radius: 5px 5px 0 0;
}
.listTitleBeen p {
  margin: 0;
}
.listTitleWant p {
  margin: 0;
}
.listBtnBoxBeen, .listBtnBoxWant {
  padding: 0;
  max-width: 400px;
  height: 25px;
  text-align: center;
  margin: 2px 0 0 0;
  padding: 3px 0 3px 0;
  box-sizing: border-box;
  border-radius: 0px 0px 5px 5px;
}
.listBtnBoxBeen {
  color: #34ADBF;
  border: 1px solid #34ADBF;
}
.listBtnBoxWant {
  color: #230500;
  border: 1px solid #230500;
}
.listBtnBoxBeen p {
  font-family: 'Barlow', sans-serif;
  font-size: 13px;
  margin: 0;
}
.listBtnBoxWant p {
  font-family: 'Barlow', sans-serif;
  font-size: 13px;
  margin: 0;
}
.listBtnBoxBeen:hover {
  background: #34ADBF;
  color: #FFFFFF;
  cursor: pointer;
}
.listBtnBoxWant:hover {
  background: #230500;
  color: #FFFFFF;
  cursor: pointer;
}

.listItem {
  max-width: 200px;
  max-height: 130px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-bottom: 2px solid #FFFFFF;
}
.listItem:hover {
  opacity: 0.6;
}
.listItem img {
  opacity: 0.7;
  max-width: 250px;
  max-height: 250px;
}
.listItem:hover {
  cursor: pointer;
}
.userShowh2 {
  position: absolute;
  top:  25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  border-radius: 3px;
  text-shadow: 2px 2px rgba(0,0,0, .9);
}

/* Media Queries */

@media (max-width: 926px) {
  .userListFlexBeen, .userListFlexWant {
    justify-content: center;
  }
  .holdsWidthBeen, .holdsWidthWant {
    max-width: 200px;
  }
}

@media (max-width: 440px) {
  .allListFlex {
    flex-direction: column;
  }
  .holdsWidthBeen, .holdsWidthWant {
    margin-left: auto;
    margin-right: auto;
  }
  .holdsWidth {
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
  }
}
