/*.showContainer {
  margin: 0 auto;
  max-width: 90%;
}*/
.allListFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.listBoxBeen {
  width: 400px;
  height: 500px;
  background: #e8f7fd;
  display: inline-block;
  border-radius: 7px;
}
.listBoxWant {
  width: 400px;
  height: 500px;
  background: #F0C7AF;
  display: inline-block;
  border-radius: 7px;
}
.userListFlex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  /*border-radius: 5px;*/
  /*align-items: center;*/
  box-sizing: content-box;
  overflow-y: scroll;
}
.userListFlex::-webkit-scrollbar {
    display: none;
}
.listTitleBeen {
  text-align: center;
  margin: 0;
  padding: 3px 0 3px 0;
  color: #FFFFFF;
  background: #34ADBF;
  border-bottom: 2px solid #FFFFFF;
  border-radius: 5px 5px 0 0;
}
.listTitleWant {
  text-align: center;
  margin: 0;
  padding: 3px 0 3px 0;
  color: #FFFFFF;
  background: #230500;
  border-bottom: 2px solid #FFFFFF;
  border-radius: 5px 5px 0 0;
}
.listTitleBeen p {
  margin: 0;
}
.listTitleWant p {
  margin: 0;
}
.listItem {
  top: 0px;
  width: 200px;
  height: 80px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-bottom: 2px solid #FFFFFF;
}
.listItem img {
  max-width: 200px;
  max-height: 200px;
}
.userShowh2 {
  position: absolute;
  top:  25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  border-radius: 3px;
  text-shadow: 2px 2px rgba(0,0,0, .9);
}
