<div class="aboutContainer">
  <div>
    <div class="textContainer">
      <h1>About the App</h1>
      <p>XCursion is a web application that allows you to track the places you've been to and the places you want to go to. After creating an account, users have the ability to add places to their "Want To" and "Been To" lists, or even copy other user's places onto one of their two lists.</p>

      <p>Other app features include searching through all public posts in the Home page, editing and deleting any of your created posts, and adding images and descriptions to your posts.</p>

      <div class="icons">
        <p>
          <i class="fa fa-globe" aria-hidden="true"></i> <span>&#8226;</span>
          <i class="fa fa-user-circle" aria-hidden="true"></i> <span>&#8226;</span>
          <i class="fa fa-pencil" aria-hidden="true"></i> <span>&#8226;</span>
          <i class="fa fa-cog" aria-hidden="true"></i> <span>&#8226;</span>
          <i class="fa fa-search" aria-hidden="true"></i> <span>&#8226;</span>
          <i class="fa fa-clone" aria-hidden="true"></i>
        </p>
      </div>

      <h2>About the Team</h2>
      <p>This app was brought to you by a team of passionate developers and travel afficionados with the hopes of providing users an easy way to share and track their excursions. The developers behind this app consisted of three students from General Assembly's Web Development Immersive Remote course. As the course name implies, all three of them worked on this from different parts of the country. After several video chats later, a couple thousand lines of code and several GitHub commits, they've made XCursion available for users on a desktop and mobile browser.</p>
    </div>
  </div>

  <div class="row">
    <div class="team">
      <img class="teamThumbnail" src="assets/tyler.jpeg">
      <h3>Tyler Goodman</h3>
      <p><span class="title">Hometown:</span>  Steamboat Springs, Colorado</p>
      <p><span class="title">Favorite place I've been:</span> Corona Del Mar, California</p>
      <p><span class="title">Favorite Travel Quote:</span> <i>"Not all those who wonder are lost." -J.R.R. Tolkein</i></p>
    </div>

    <div class="team">
      <img class="teamThumbnail" src="assets/sean.jpg">
      <h3>Sean Byrne</h3>
      <p><span class="title">Hometown:</span> Jonas, Pennsylvania</p>
      <p><span class="title">Favorite place I've been:</span> Virginia Beach and Toronto, Canada</p>
      <p><span class="title">Favorite Travel Quote:</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
    </div>

    <div class="team">
      <img class="teamThumbnail" src="assets/josefina.jpg">
      <h3>Josefina Mancilla</h3>
      <p><span class="title">Hometown:</span>  Austin, Texas</p>
      <p><span class="title">Favorite place I've been:</span> Austrian Alps</p>
      <p><span class="title">Favorite Travel Quote:</span> <i>"Travel makes one modest, you see what a tiny place you occupy in the world." -Gustave Flaubert</i></p>
    </div>
  </div>
  <div id="devs"></div>
</div>
