<div class="aboutContainer">
  <div class="wrapper">
    <div class="textContainer">
      <h1>Creating New Places</h1>
      <hr />
      <h2><i class="fa fa-globe" aria-hidden="true"></i> Pick a name for your place:</h2>
      <div class="helpBtnWrap">
        <img class="incImg" src="assets/place_name.png" alt="">
      </div>
      <hr />
      <h2><i class="fa fa-search" aria-hidden="true"></i> Find and Enter a valid image url:</h2>
      <p><span>&#8226;</span> 1) Google Image Search for your place</p>
      <div class="helpBtnWrap">
        <img class="incImg" src="assets/google_search.png" alt="">
      </div>
      <p><span>&#8226;</span> 2) Click on an image you like and select 'View image'</p>
      <div class="helpBtnWrap">
        <img class="incImg" src="assets/view_image.png" alt="">
      </div>
      <p><span>&#8226;</span> 3) Select and copy all of the text in the address bar</p>
      <div class="helpBtnWrap">
        <img class="incImg" src="assets/nav_text.png" alt="">
      </div>
      <p id="note">Note: you know you've got a good link when it ends in an image file extension (.png, .jpg, jpeg...)</p>
      <p><span>&#8226;</span> 4) Paste the image link into the 'Image URL Field'</p>
      <div class="helpBtnWrap">
        <img class="incImg" src="assets/img_url.png" alt="">
      </div>
      <hr />
      <h2><i class="fa fa-user-circle" aria-hidden="true"></i> Add to one of your lists:</h2>
      <div class="helpBtnWrap">
        <img class="incImg" src="assets/which_list.png" alt="">
      </div>
      <hr />
      <h2><i class="fa fa-clone" aria-hidden="true"></i> Public Post? (On by default)</h2>
      <div class="helpBtnWrap">
        <img class="incImg" src="assets/public_check.png" alt="">
      </div>
      <hr />
      <h2><i class="fa fa-pencil" aria-hidden="true"></i> Enter a description:</h2>
      <div class="helpBtnWrap">
        <img class="incImg" src="assets/description.png" alt="">
      </div>
      <hr />
      <h2><i class="fa fa-cog" aria-hidden="true"></i> Click 'Add Place'</h2>
      <div class="helpBtnWrap">
        <img class="incImg" src="assets/final_form.png" alt="">
      </div>
      <hr />
      <h2><i class="fa fa-globe" aria-hidden="true"></i> Finished Product:</h2>
      <div class="helpBtnWrap">
        <img class="incImg" src="assets/completed.png" alt="">
      </div>
    </div>
  </div>
</div>
