<div ng-if="ctrl.viewAll">
  <h1 ng-if="ctrl.viewBeenWant" class="center"><span class="blue">Where {{ctrl.viewMes}}</span></h1>
  <h1 ng-if="!ctrl.viewBeenWant" class="center"><span class="brown">Where {{ctrl.viewMes}}</span></h1>
</div>

<div class="searchContainer">
  <h2 class="search">Search:</h2>
  <form>
    <input class="searchbox" ng-model='searchBox' type="text"/>
  </form>
</div>


<div class="imagesContainer">
  <div ng-if="!ctrl.viewAll" ng-click="ctrl.openShow(place)" class="imageBox" ng-repeat="place in ctrl.places | orderBy:'-' | filter: searchBox">
    <img ng-src={{place.img}} alt="{{place.place}}">
    <h2 class="indexh2">{{place.place}}</h2>
  </div>
  <div ng-if="ctrl.viewAll" ng-click="ctrl.openShow(place)" class="imageBox" ng-repeat="place in ctrl.viewPlaces | orderBy:'-' | filter: searchBox">
    <img ng-src={{place.img}} alt="{{place.place}}">
    <h2 class="indexh2">{{place.place}}</h2>
  </div>
</div>

<div ng-include=" 'partials/showPlaceModal.html'"></div>
