

<div class="searchContainer">
  <h2 class="search">Search:</h2>
  <form>
    <input class="searchbox" ng-model='searchBox' type="text"/>
  </form>
</div>


<div class="imagesContainer">
  <div ng-click="ctrl.openShow(place)" class="imageBox" ng-repeat="place in ctrl.places | filter: searchBox">
    <img class="indexImg" ng-src={{place.img}} alt="{{place.place}}" style="max-width:100%;">
    <h2 class="indexh2">{{place.place}}</h2>
  </div>
</div>

<div ng-if="ctrl.showModal" ng-class="(ctrl.showModal ? 'showModal' : '')">
  <p id="closeModal" ng-click="ctrl.closeShow()"><i class="fa fa-window-close" aria-hidden="true"></i></p>
  <div class="showColumns">
    <div class="showRow">
      <div class="showContainer">
        <h2>{{ctrl.place.place}}</h2>
        <img class="showImg" ng-src="{{ctrl.place.img}}">
        <p>{{ctrl.place.description}}</p>
        <p>Been there: <i>{{ctrl.place.beenThere}}</i></p>
        <p>Public: <i>{{ctrl.place.public}}</i></p>
        <p><button class="showBtn"><i class="fa fa-heart" aria-hidden="true"></i></button>&nbsp; &nbsp; Likes: <i>{{ctrl.place.likes}}</i></p>
        <div ng-if="ctrl.user" class="">
          <button ng-if="!ctrl.wantTo" class="showBtn addRmvBtn" ng-click='ctrl.addWant(ctrl.place)'>ADD this place to your 'Want to Go' List</button>
          <button ng-if="ctrl.wantTo" class="showBtn addRmvBtn" ng-click='ctrl.removeWant(ctrl.place)'>REMOVE this place to your 'Want to Go' List</button>
          <button ng-if="!ctrl.beenTo" class="showBtn addRmvBtn" ng-click='ctrl.addBeen(ctrl.place)'>ADD this place to your 'Been To' List</button>
          <button ng-if="ctrl.beenTo" class="showBtn addRmvBtn" ng-click='ctrl.removeBeen(ctrl.place)'>REMOVE this place to your 'Been To' List</button>
        </div>
        <div ng-if="!ctrl.user" class="">
          <button class="showBtn addRmvBtn">Login to add this to your 'Want to Go' or 'Been To' list</button>
        </div>
        <button class="showBtn" ng-click='ctrl.updateModal(ctrl.place)'><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
        <button class="showBtn" ng-click="ctrl.deletePlace(ctrl.place._id)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>


        <div class = "editModal" ng-if="ctrl.edit">
          <p id="closeModal" ng-click="ctrl.dontUpdate()"><i class="fa fa-window-close" aria-hidden="true"></i></p>
          <form class="editForm" ng-submit="ctrl.updatePlace()">
            <label for="name">Place:</label>
            <input id="place" type="text" ng-model="ctrl.currentEdit.place"/>
            <label for="img">Image URL:</label>
            <input type="text" ng-model="ctrl.currentEdit.img"/>
            <label for="beenThere">Been there:</label>
            <input id="beenThere" type="text" ng-model="ctrl.currentEdit.beenThere"/>
            <label for="public">Public:</label>
            <input id="public" type="text" ng-model="ctrl.currentEdit.public"/>
            <label for="desc">Description:</label>
            <textarea id="desc" ng-model="ctrl.currentEdit.description"></textarea>
            <button class="submitBtn" type="submit">Save changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
