<div ng-if='!ctrl.user'>
  <div class="login">
    <small>Log in</small>
    <form ng-submit='ctrl.loginUser()'>
       <input type="text" placeholder="username" autocomplete="username" ng-model="ctrl.loginForm.username" />
       <input type="password" autocomplete="current-password" placeholder="password" ng-model="ctrl.loginForm.password" />
       <input type="submit" />
    </form>
    <p>{{ ctrl.loginError }}</p>
  </div>
  <div class="register">
    <small>Register</small>
    <form ng-submit='ctrl.registerUser()'>
       <input type="text" placeholder="username" autocomplete="username" ng-model="ctrl.newUserForm.username" required/>
       <input type="password" autocomplete="current-password" placeholder="password" ng-model="ctrl.newUserForm.password" required/>
       <input type="text" placeholder="First Name" ng-model="ctrl.newUserForm.first" required/>
       <input type="text" placeholder="Last Name" ng-model="ctrl.newUserForm.last" />
       <input type="text" placeholder="Profile Pic URL" ng-model="ctrl.newUserForm.pic" />
       <input type="text" placeholder="Email Address" ng-model="ctrl.newUserForm.email" />
       <input type="submit" />
    </form>
    <p>{{ ctrl.registerError }}</p>
  </div>
</div>
<form ng-if='ctrl.user' ng-submit='ctrl.logout()'>
  <input type='submit' value='logout' />
</form>
