<!-- <div class="showModal" ng-include="'partials/addPlace.html'"> -->
<div ng-include="'partials/addPlace.html'"></div>
<div ng-include="'partials/showPlaceModal.html'"></div>
<div class="allListFlex">
  <div class="holdsWidthBeen">
    <div class="listTitleBeen">
      <p>Where You've Been</p>
    </div>
      <div class="userListFlexBeen">
        <div class="listItem" ng-click="ctrl.openShow(place)" ng-repeat="place in ctrl.beenToArr">
          <img ng-src="{{place.img}}" alt="">
          <h2 class="userShowh2">{{place.place}}</h2>
        </div>
      </div>
  </div>

  <div class="holdsWidthWant">
    <div class="listTitleWant">
      <p>Where You Want to Go</p>
    </div>
      <div class="userListFlexWant">
        <div class="listItem" ng-click="ctrl.openShow(place)" ng-repeat="place in ctrl.wantToArr">
          <img ng-src="{{place.img}}" alt="">
          <h2 class="userShowh2">{{place.place}}</h2>
        </div>
      </div>
  </div>
</div>
